#box {
  display: flex;
  margin-top: 10vw;
  margin-left: 40vw;
}

#gamebox {
  display: block;
  margin: 3 auto;
  cursor:pointer
  
}
.col {
  height: 60px;
  width: 60px;
  text-align: center;
  align-content: center;
  border: 1px solid black;
}

#game_heading {
  text-decoration: underline dashed red;
  text-align: center;
}

#game_heading {
  display: block;
  animation: slideDown 1s ease forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


#result {
  text-align: center;
}

#restart {
  display: block;
  margin: 0 auto;
  cursor:pointer
}
