#box {
  display: flex;
  margin-top: 8vw;
  margin-left: 40.5vw;
}

#gamebox {
  display: block;
  cursor:pointer;
  scale: 1.5;
  
}
.col {
  height: 60px;
  width: 60px;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  align-content: center;
  border: 1px solid black;
}


#game_heading {
  text-decoration: underline dashed red;
  text-align: center;
  scale: 1.7;
}

#game_heading {
  margin-top: 15vh;
  display: block;
  animation: slideDown 1s ease forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


#result {
  text-align: center;
  justify-content: center;
  scale: 1.2;
}

#restart {
  display: block;
  margin-top: 10vh;
  margin-left: 46.5vw;
  cursor:pointer
}
body{
  background-image: url("background.png");
}